html, body {
  margin: 0; 
  padding: 0;
  background-color: #1C2B3E;
  overflow: auto;
  min-width: 1140px;
  color: white;
}

table, tr {
	width: 90%;
	margin: 0 auto;
}

td {
	text-align: center;
}

.visitorTD {
	width: 20%;
	border-right: 2px solid white;
}

.whenTD {
	width: 30%;
	border-right: 2px solid white;
}

.messageTD {
	width: 50%;
}

#signGuestbook {
	width: 44%;
	margin-left: 26.9%;
	margin-top: -4%;
	background-color: #D0B6A5;
	position: fixed;
	border-radius: 20px;
}

#submitButton {
	width: 80%;
	background-color: grey;
	border: none;
	border-radius: 10px;
	padding: 10px;
	cursor: pointer;
}

input[type=text] {padding:5px; border:2px solid #ccc; height:60px; width: 50%; font-size: 20px; color:black;
-webkit-border-radius: 5px;
    border-radius: 10px;
    transition:1s;
}
input[type=text]:focus {border-color:#333;transition:1s; }

.header {
	border-right: 2px solid white;
}

.bottomTB {
	border-bottom: 2px solid white;
}

.lightBrown {
	background-color: #AE7957;
	border-radius: 10px;
}

.addGuestbook {
	width: 80%;
	height: 10%;
	margin-top: 5%;
	margin-left: 10%;
	text-decoration: none;
	color: white;
	border: solid 2px grey;
	background-color: #3F658C;
	border-radius: 10px;
	vertical-align: middle;
	cursor: pointer;
}

.deleteGuestbook {
	width: 80%;
	height: 10%;
	margin-top: 5%;
	margin-left: 10%;
	text-decoration: none;
	color: white;
	border: solid 2px grey;
	background-color: #A02A0E;
	border-radius: 10px;
	vertical-align: middle;
	cursor: pointer;
}

.return {
	width: 80%;
	height: 10%;
	margin-top: 5%;
	margin-left: 10%;
	text-decoration: none;
	color: white;
	border: solid 2px grey;
	background-color: #3F658C;
	border-radius: 10px;
	vertical-align: middle;
	cursor: pointer, hand;
}

#selectDivToRemove {
	width: 100%;
	height: 20%;
	margin: 0%;
	color: white;
	background-color: #1C2B3E;
	position: fixed;
	bottom: 5%;
	z-index: 9999;
}

.verticalCenter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-decoration: none;
}

.textReturn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -35%);
	text-decoration: none;
	color: white;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}